@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html,
body {
  margin: 0;
  background-color: #fbae3c;
  font-family: 'Lato', sans-serif;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-section {
  background-color: #fbae3c;
  height: 200vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px 300px auto 300px;
  grid-gap: 5px;
  grid-template-areas:
    'foo foo foo'
    'bar bar bar'
    'yum yum yum'
    'content content content'
    'goodies yummy yummy';
}
.inner1 {
  grid-area: bar;
  background-color: #000000;
  position: relative;
}
.inner1 iframe {
}
.img1 {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  pointer-events: none;
}
.img2 {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.2;
  pointer-events: none;
}
.inner2 {
  grid-area: foo;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 100px;
  grid-gap: 5px;
  grid-template-areas:
    'slogan'
    'menu'
    'menu-items';
}
.slogan {
  grid-area: slogan;
  text-align: center;
  font-weight: 600;
  font-size: large;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #20a9df;
  padding-top: 10px;
  padding-bottom: 10px;
}
.menu {
  grid-area: menu;
  text-align: center;
}
.menu-items {
  grid-area: menu-items;
  display: flex;
  justify-content: space-around;
}
.menu-items a {
  font-weight: 600;
  font-size: large;
  text-transform: uppercase;
  color: #20a9df;
}
.inner3 {
  grid-area: content;
  background-color: #ffffff;
}
.inner4 {
  grid-area: yum;
  background-color: #20a9df;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.inner4 p {
  text-align: center;
  font-weight: 600;
  font-size: large;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px;
}
.inner5 {
  grid-area: goodies;
  background-color: #ffffff;
}
.inner5 img {
  width: auto;
  height: 100%;
}
.inner6 {
  grid-area: yummy;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.inner6 p {
  font-weight: 400;
  font-size: medium;
  text-transform: uppercase;
  color: #20a9df;
  margin-bottom: -20px;
}
.inner6 a {
  font-weight: 600;
  font-size: large;
  text-transform: uppercase;
  color: #20a9df;
}
.inner3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.hiring-section {
  height: 300px;
  width: 100%;
  padding-left: 10px;
  margin-right: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: 5px solid #fbae3c;
}
.hiring-section p {
  text-align: center;
  font-weight: 600;
  font-size: large;
  text-transform: uppercase;
  color: #fbae3c;
  padding-top: 10px;
  padding-bottom: 10px;
}
.hiring-section a {
  color: #fbae3c;
}
.photo-section {
  background-color: #20a9df;
  height: 100%;
  width: 100%;
}
.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.photo-grid img {
  border: 2px solid #fff;
  box-shadow: 2px 2px 6px 0px rgba(255, 255, 255, 0.3);
  max-width: 100%;
}
.center {
  align-items: center;
}
/* Tablet View */
@media only screen and (max-width: 800px) {
  .main-section {
    background-color: #fbae3c;
    height: 200vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 200px 1fr 250px;
    grid-gap: 5px;
    grid-template-areas:
      'foo foo'
      'bar yum'
      'content content'
      'goodies yummy';
  }
  .inner2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-gap: 5px;
    grid-template-areas:
      'slogan'
      'menu'
      'menu-items';
  }
  .slogan {
    text-align: center;
    font-weight: 600;
    font-size: small;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #20a9df;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .menu-items a {
    font-weight: 600;
    font-size: small;
    text-transform: uppercase;
    color: #20a9df;
  }
  .inner4 {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    grid-area: yum;
    background-color: #20a9df;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .inner4 p {
    text-align: center;
    font-weight: 600;
    font-size: small;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px;
  }
  .inner6 p {
    font-weight: 400;
    font-size: small;
    text-transform: uppercase;
    color: #20a9df;
    margin-bottom: -20px;
    text-align: center;
  }
  .inner6 a {
    font-weight: 600;
    font-size: small;
    text-transform: uppercase;
    color: #20a9df;
    text-align: center;
  }
  .inner3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .hiring-section {
    height: 300px;
    width: 100%;
    padding-left: 10px;
    margin-right: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 5px solid #fbae3c;
  }
  .hiring-section p {
    text-align: center;
    font-weight: 600;
    font-size: large;
    text-transform: uppercase;
    color: #fbae3c;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .hiring-section a {
    color: #fbae3c;
  }
  .photo-section {
    background-color: #20a9df;
    height: 100%;
    width: 100%;
  }
}
/* Mobile View */
@media only screen and (max-width: 500px) {
  .main-section {
    background-color: #fbae3c;
    height: 300vh;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px 200px 300px auto 200px 300px;
    grid-template-areas:
      'foo'
      'bar'
      'yum'
      'content'
      'goodies'
      'yummy';
  }
  .inner4 {
    grid-area: yum;
    background-color: #20a9df;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .inner4 p {
    text-align: center;
    font-weight: 600;
    font-size: large;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .inner5 img {
    width: auto;
    height: 100%;
  }
  .inner3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }
  .hiring-section {
    height: 300px;
    width: 100%;
    padding-left: 10px;
    margin-right: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 5px solid #fbae3c;
  }
  .hiring-section p {
    text-align: center;
    font-weight: 600;
    font-size: large;
    text-transform: uppercase;
    color: #fbae3c;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .hiring-section a {
    color: #fbae3c;
  }
  .photo-section {
    background-color: #20a9df;
    height: 100%;
    width: 100%;
  }
}
